/.dist
/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Build
/Game_No19_C.sln
/Game_No19_Inseki.sln
/icongif.gif
/Library
/Logs
/Memo.txt
/obj
/Packages
/ProjectSettings
/Recordings
/Save
/UserSettings